/Anagrams/packages
/Anagrams/.vs
/Anagrams/_NCrunch_AnagramsKata
/Anagrams/AnagramLogic.Tests/bin
/Anagrams/AnagramLogic.Tests/obj
/Anagrams/*/bin
/Anagrams/*/bin
/Anagrams/*/obj
/Anagrams/*/bin/
/Anagrams/*/obj/
/Anagrams/AnagramLogic.Tests/bin/Debug/AnagramLogic.dll
/Anagrams/AnagramLogic.Tests/bin/Debug/AnagramLogic.pdb
/Anagrams/AnagramLogic.Tests/bin/Debug/AnagramLogic.Tests.dll
/Anagrams/AnagramLogic.Tests/bin/Debug/AnagramLogic.Tests.pdb
/Anagrams/AnagramLogic.Tests/obj/Debug/AnagramLogic.Tests.csproj.CoreCompileInputs.cache
/Anagrams/AnagramLogic.Tests/obj/Debug/AnagramLogic.Tests.csproj.FileListAbsolute.txt
/Anagrams/AnagramLogic.Tests/obj/Debug/AnagramLogic.Tests.csprojAssemblyReference.cache
/Anagrams/AnagramLogic.Tests/obj/Debug/AnagramLogic.Tests.dll
/Anagrams/AnagramLogic.Tests/obj/Debug/AnagramLogic.Tests.pdb
/Anagrams/AnagramLogic.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.dll
*.cache
*.pdb
